/****** Script for SelectTopNRows command from SSMS  ******/
select distinct 
   vn.epid
  ,vn.epnm
  ,vn.fid
  ,oa.AttrText
from [Mobile_Schwarzkopf_HO_Plus].[dbo].[vNetworks] vn
join Mobile_Schwarzkopf_HO.dbo.DS_Orders o
  on vn.fID=o.mfID
 and vn.OwnerDistID=o.OwnerDistID
 and o.Condition=1
 and o.orType in (2)
 and cast(o.orDate as date) between '20180615' and '20180715'
join Mobile_Schwarzkopf_HO.dbo.DS_ObjectsAttributes oa
  on vn.fid=oa.Id
 and vn.OwnerDistID=oa.OwnerDistID
 and oa.AttrId=627
 and oa.Activeflag=1
 and oa.DictId=2
where EPNM is null or EPNM in ('OMT_ArhangelskArkhipov', 'OMT_AstrahanRusskyStil', 'OMT_BlagoveschenskSizkov', 'OMT_CheboksarySK-Trejd', 'OMT_CheljabinskForpost-Parfjum', 'OMT_EkaterinburgAlyans', 'OMT_EkaterinburgUniland', 'OMT_IrkutskVostok Kosmetik', 'OMT_IvanovoVectorGroupIvanovo', 'OMT_IzhevskFregat', 'OMT_JakutskAUSS', 'OMT_KaliningradZolotaya Kometa', 'OMT_KalugaVectorGroup', 'OMT_KamchatkaVIP', 'OMT_KazanSK-Trejd', 'OMT_KhabarovskAbris', 'OMT_KirovRossmed-servis', 'OMT_KrasnodarRussky Stil', 'OMT_KrasnojarskTornado Kosmetik', 'OMT_LipeckVectorGroup', 'OMT_MagnitogorskForpost-Parfjum', 'OMT_MahachkalaAS-Prestizh', 'OMT_MinskTorgovy Posad', 'OMT_MoscowMegaPlus', 'OMT_MoscowUrves', 'OMT_MurmanskParfum', 'OMT_Nizhnij NovgorodSK-Trejd', 'OMT_NorilskGahiev', 'OMT_OmskParfum', 'OMT_OrelVectorGroup', 'OMT_OrskKrivko', 'OMT_ParfumAltaj', 'OMT_PenzaBelousov', 'OMT_PermFudTrejd', 'OMT_PetrozavodskParfum', 'OMT_Rostov-na-DonuUdikom', 'OMT_SakhalinVIP', 'OMT_SamaraSirius', 'OMT_SaratovKamenskaya', 'OMT_SimferopolViolia', 'OMT_S-PeterburgParfum', 'OMT_SyktyvkarScreen', 'OMT_TulaVectorGroup', 'OMT_TverSK-Trejd', 'OMT_UfaRaid', 'OMT_Ulan-UdeBaris', 'OMT_VladivostokVIP', 'OMT_VolgogradRusskyStil', 'OMT_VologdaSK-Trejd', 'OMT_VoronezhParfum', 'WS_AltajPargumAltaj', 'WS_AstrahanRusskyStil', 'WS_BlagoveschenskSizkov', 'WS_BrjanskVectorGroup', 'WS_CheboksarySK-Trejd', 'WS_CheljabinskForpost-Parfjum', 'WS_ChitaBaris', 'WS_EkaterinburgAlyans', 'WS_EkaterinburgUniland', 'WS_IrkutskVostok Kosmetik', 'WS_IvanovoVectorGroupIvanovo', 'WS_IzhevskMK-Trejd', 'WS_JakutskAUSS', 'WS_KaliningradZolotaya Kometa', 'WS_KamchatkaVIP', 'WS_KazanSK-Trejd', 'WS_KhabarovskAbris', 'WS_KirovRossmed-servis', 'WS_KrasnodarRussky Stil', 'WS_KrasnojarskTornado Kosmetik', 'WS_LipeckVectorGroup', 'WS_MagnitogorskForpost-Parfjum', 'WS_MahachkalaAS-Prestizh', 'WS_MinskTorgovy Posad', 'WS_MoscowMegaPlus', 'WS_MoscowUrves', 'WS_NaberezhnyeChelnVerta', 'WS_Nizhnij NovgorodSK-Trejd', 'WS_NovosibirskParfumAltaj', 'WS_OmskParfum', 'WS_OrelVectorGroup', 'WS_OrskKrivko', 'WS_PenzaBelousov', 'WS_PermFudTrejd', 'WS_PjatigorskКavkazTorg', 'WS_Rjazan`VectorGroup', 'WS_Rostov-na-DonuUdikom', 'WS_SamaraSirius', 'WS_SimferopolViolia', 'WS_SmolenskVectorGroup', 'WS_S-PeterburgParfum', 'WS_SyktyvkarScreen', 'WS_TulaVectorGroup', 'WS_UfaRaid', 'WS_Ulan-UdeBaris', 'WS_VladivostokVIP', 'WS_VolgogradRusskyStil', 'WS_VologdaSK-Trejd', 'WS_VoronezhParfum', 'WS_VoronezhSigma', 'TT_ArhangelskArkhipov', 'TT_AstrahanRusskyStil', 'TT_BlagoveschenskSizkov', 'TT_BrjanskVectorGroup', 'TT_CheboksarySK-Trejd', 'TT_CheljabinskForpost-Parfjum', 'TT_ChitaBaris', 'TT_EkaterinburgAlyans', 'TT_EkaterinburgUniland', 'TT_IrkutskVostok Kosmetik', 'TT_IvanovoVectorGroupIvanovo', 'TT_IzhevskMK-Trejd', 'TT_JakutskAUSS', 'TT_KaliningradZolotaya Kometa', 'TT_KalugaVectorGroup', 'TT_KamchatkaVIP', 'TT_KazanSK-Trejd', 'TT_KhabarovskAbris', 'TT_KirovRossmed-servis', 'TT_KrasnodarRussky Stil', 'TT_KrasnojarskTornado Kosmetik', 'TT_KurskVectorGroup', 'TT_LipeckVectorGroup', 'TT_MagnitogorskForpost-Parfjum', 'TT_MahachkalaAS-Prestizh', 'TT_MinskTorgovy Posad', 'TT_MoscowGradient', 'TT_MoscowMegaPlus', 'TT_MoscowUrves', 'TT_MurmanskParfum', 'TT_NaberezhnyeChelnVerta', 'TT_Nizhnij NovgorodSK-Trejd', 'TT_NorilskGahiev', 'TT_OmskParfum', 'TT_OrelVectorGroup', 'TT_OrskKrivko', 'TT_ParfumAltaj', 'TT_PenzaBelousov', 'TT_PermFudTrejd', 'TT_PetrozavodskParfum', 'TT_PskovParfum', 'TT_Rjazan`Gerkules', 'TT_Rjazan`VectorGroup', 'TT_Rostov-na-DonuUdikom', 'TT_SakhalinVIP', 'TT_SamaraSirius', 'TT_SaratovKamenskaya', 'TT_SimferopolViolia', 'TT_SmolenskVectorGroup', 'TT_S-PeterburgParfum', 'TT_SyktyvkarScreen', 'TT_TulaVectorGroup', 'TT_TverSK-Trejd', 'TT_UfaRaid', 'TT_Ulan-UdeBaris', 'TT_Velikij NovgorodParfum', 'TT_VladivostokVIP', 'TT_VolgogradRusskyStil', 'TT_VologdaSK-Trejd', 'TT_VoronezhParfum', 'TT_VoronezhSigma', 'ОМТ_PjatigorskКavkazTorg', 'ТТ_PjatigorskКavkazTorg')