SELECT vcl.*, Replace([exid],'Transfer_','') as exid FROM [Mobile_Schwarzkopf_HO_Plus].[dbo].[vClient] vcl
WHERE LEFT(fid,2) = 92 AND exid <> 'TT_unknown' and (exid like '% %' OR exid ='' OR exid like 'Transfer_92%')